In [5]:
import pandas as pd
# 2차원 데이터 생성
# dict 타입으로 구성해서 2차원 데이터로 변환
data = {
  '이름':['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','송근열'],
  '학교':['구로고','구로고','가산고','구로고','가산고','가산고','구로고','구로고'],
  '키':[197,184,168,187,188,202,188,190],
  '국어':[90,40,80,40,15,80,55,100],
  '영어':[85,35,75,60,20,100,65,85],
  '수학':[100,50,70,70,10,95,45,90],
  '사회':[85,25,75,80,10,80,35,95],
  'sw특기':['Python','java','Javascript',' ',' ','C','Python','C#']
}

In [7]:
data
type(data)

dict

In [ ]:
# dict  타입: 키를 활용해서 데이터를 출력
data['키']
data['sw특기']

['Python', 'java', 'Javascript', ' ', ' ', 'C', 'Python', 'C#']

In [ ]:
### dict 타입을 pandas -> DataFrame
# t = pd.Series(temp)
df = pd.DataFrame(data)  # dict 타입을 입력하면 DataFrame 타입으로 변경
df

    이름   학교    키   국어   영어   수학  사회        sw특기
0  강나래  구로고  197   90   85  100  85      Python
1  강태원  구로고  184   40   35   50  25        java
2  강호림  가산고  168   80   75   70  75  Javascript
3  김수찬  구로고  187   40   60   70  80
4  김재욱  가산고  188   15   20   10  10
5  박동현  가산고  202   80  100   95  80           C
6  박혜정  구로고  188   55   65   45  35      Python
7  송근열  구로고  190  100   85   90  95          C#

In [11]:
df['키']

0    197
1    184
2    168
3    187
4    188
5    202
6    188
7    190
Name: 키, dtype: int64

In [12]:
df['이름']

0    강나래
1    강태원
2    강호림
3    김수찬
4    김재욱
5    박동현
6    박혜정
7    송근열
Name: 이름, dtype: object

In [ ]:
df['키']
df['이름']
df[['이름','키','국어']] # 3개 컬럼 출력
df[['국어','키']] # 2개 컬럼 [[]] 를 사용 []를 2번, 순서는 지정대로 출력한다.

    국어    키
0   90  197
1   40  184
2   80  168
3   40  187
4   15  188
5   80  202
6   55  188
7  100  190

In [ ]:
# 컬럼 이름을 모두 확인
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '사회', 'sw특기'], dtype='object')

In [19]:
# 데이터에서 특정컬럼만 뽑아서 가져올 수 있음
# 순서도 변경 가능
df = pd.DataFrame(data,columns=['sw특기','학교','이름'])
df

         sw특기   학교   이름
0      Python  구로고  강나래
1        java  구로고  강태원
2  Javascript  가산고  강호림
3              구로고  김수찬
4              가산고  김재욱
5           C  가산고  박동현
6      Python  구로고  박혜정
7          C#  구로고  송근열