In [1]:
import pandas as pd

* 졸음운전교통사고 3개를 병합
* 사고가 가장 많이 난 횟수 상위 5개를 출력하시오.
* 사망자 평균을 출력하시오.

In [12]:
df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')

df = pd.concat([df1,df2,df3])
df.set_index('구분',inplace=True)

In [15]:
df['사고(건)'].head()

구분
2014년1월    169
2014년2월    145
2014년3월    206
2014년4월    182
2014년5월    218
Name: 사고(건), dtype: int64

In [14]:
df['사망(명)'].mean()

np.float64(9.333333333333334)